<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
</head>
<body>
<fieldset>
	Register
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	<form action='/register' method='POST'>
		{% csrf_token %}
		<p>First name:<input type="text" name="first_name"></p>
		<p>Last name:<input type="text" name="last_name"></p>
		<p>Email:<input type="text" name="email"></p>
		<p>Password:<input type="password" name="password"></p>
		<p>Confirm Password:<input type="password" name="pw_confirm"></p>
		<input type="submit" value="Register">
	</form>
</fieldset>
<fieldset>
	Login
	<form action='/login' method='POST'>
		{% csrf_token %}
		<p>Email:<input type="text" name="email"></p>
		<p>Password:<input type="password" name="password"></p>
		<input type="submit" value="Log In">
	</form>
</fieldset>
</body>
</html>
