<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Hello, {{request.session.user_name}}!</h2>
<a href="/secrets">Home</a>
<h3>Most Popular secrets!</h3>
{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}
<form action="/add_secret" method="POST">
	{% csrf_token %}
	<h3>Your secret here:</h3>
	<input type="text" name="content" placeholder="Your secret here...">
	<input type="submit" value="POST">
</form>

{% for secret in secrets %}
	<fieldset>
	<h4>{{secret.content}}</h4>
	<p>{{secret.created_at}}</p>
	<p>{{secret.num_likes}} likes</p>
	{% if secret.user.id == request.session.user_id %}
		<p>You created this secret</p>
		<form method="POST" action="/secrets/{{secret.id}}/destroy">
			{% csrf_token %}
			<input type="submit" value="Destroy">
		</form>
	{% elif not secret.liked %}
		<a href="/secrets/{{secret.id}}/likes">👍</a>
	{% else %}
		<p>You have liked this secret</p>
	{% endif %}
	</fieldset>
{% endfor %}
</body>
</html>
